<form action="/users/new" method="POST">
	<input type="text" name="user_name" id="user_name">
	<input type="text" name="email" id="email">
	<input type="submit" name="submit" id="submit" value="登録">
</form>
