<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title><%=@site_name %></title>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
<%=@template_srt %>
</body>
</html>

